.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  margin: 0 auto 24px auto;
}

.svg-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-holder p {
  margin: 44px auto 0 auto;
  border-bottom: 1px solid;
  font-weight: bold;
  color: #5d3838;
  letter-spacing: 0.25px;
}

.svg-row-one {
  display: flex;
  align-items: center;
  margin: 20px auto 10px auto;
  width: 100px;
  justify-content: space-evenly;
}

.typescript-svg,
.react-svg {
  height: 28px;
  width: 28px;
}
.openweather-svg {
  width: 86px;
  height: 43px;
}

.typescript-svg rect,
.react-svg path,
.sun-path {
  fill: #5d3838;
}

h1 {
  margin-bottom: 0;
  font-size: 52px;
}

@media (min-width: 720px) {
  h1 {
    font-size: 100px;
  }
  .react-spinner {
    height: 13em;
  }

  .loading-message {
    font-size: 32px;
  }

  .svg-holder p {
    font-size: 18px;
    margin-top: 80px;
  }

  .svg-row-one {
    width: 138px;
  }

  .typescript-svg,
  .react-svg {
    height: 36px;
    width: 36px;
  }
  .openweather-svg {
    width: 104px;
    height: 50px;
  }
}