.navbar {
  position: sticky;
  top: 0;
  z-index: 98;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2d2d2d;
  padding: 8px 14px;
}
.navbar > a {
  color: white;
}

.photo-holder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url("https://www.daveyknific.com/tornado/apple-touch-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}